<div class="container">
  <h1>New Products</h1>
  <p>Sorted newest to oldest</p>
  <div class="row row-cols-4">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
    </div>
</div>