<p class="mb-5">
  Search results for:
  <strong>
    '<%= params[:keywords] %>'
  </strong>
</p>

<ul>
<%if @products.count == 0%>
    No results found
<%end%>
  <div class="row row-cols-2">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</ul>