 <div class="topnav">

  <%= link_to root_path do %>
   <%= image_tag "rarityLogoSmall.png", height: 30%>
  <% end %>


  <a href="#news">Categories</a>
  <a href="#contact">Designers</a>
  <a href="#about">Cart</a>
</div>